<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<style>
body {
    border-style: solid;
    border-width: 5px;
    font-family: "Times New Roman", Times, serif;
      background: #00ff00 url('http://2.bp.blogspot.com/-aXiMV2GM1Ns/TfttzfvbXjI/AAAAAAAAATI/Q5tF4Ue-2Ug/s1600/GreenThumb.jpg') no-repeat fixed center;
    }
    #comments {
    filter: alpha(opacity=50)
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    -moz-text-decoration-style: wavy;
    -moz-text-decoration-color: lightpink;
    text-decoration-color: lightpink;
}
h2 {
    padding-left: 30px;
    }
</style>
<body>
<center>
<h1><center>My Blog</center></h1>
<%= yield %>
&copy; Fdisk 2014
</center>
</body>
</html>
